body{
	user-select: none;
}
.navbar{
	background-image: linear-gradient( 109.6deg, rgba(0, 0, 0, 1) 11.2%, rgba(11, 132, 145, 1) 91.1%);
	font-size: 30px;
	text-decoration: none;
	padding: 20px;
	margin: -8px;
}
#logo:link{
	text-decoration: none;
	color: white;
}
#logo:visited{
	color: white;
}
#world{
	float: right;
	transition: 0.4s;
}
#world:visited{
	color: white;
}
#world:link{
	text-decoration: none;
	color: white;
}
#world:hover{
	transform: scale(1.2);
}
#total_counter_india,#total_counter_world{
	font-size: 45px;
	color: white;
	font-family: sans-serif;
}
#total_p{
	font-size: 30px;
	color: white;
	font-family: sans-serif;
}
.btn{
	background-color: white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
}
.btn:link{
	text-decoration: none;
}
.btn:hover{
	background-color: rgba(255,255,255,0.7);
}
#br{
	display: none;
}
.grid-container-1{
	display: grid;
	grid-template-columns: auto auto;
	background-color: rgb(16, 96, 153);
	padding: 25px;
	margin: 30px 150px;
}
.grid-container-2{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-column-gap: 10px;
	margin: 30px 80px;
}
.grid-item-2{
	color: white;
	font-family: sans-serif;
}
.grid-item-2:nth-child(1){
	background: linear-gradient(90deg, #00b3db 0%, #3a47d5 100%);;
}
.grid-item-2:nth-child(2){
	background: linear-gradient( 90.5deg, rgb(247, 133, 241) 1.6%, rgba(182, 76, 233, 1) 98.2%);;
}
.grid-item-2:nth-child(3){
	background: radial-gradient( circle 862px at 6% 18%, rgb(37, 199, 142) 9.4%, rgb(135, 142, 235) 83.6%);;
}
.grid-item-2:nth-child(4){
	background: linear-gradient( 117.8deg, rgba(240, 19, 77, 1) 22.2%, rgba(228, 0, 124, 1) 88.7%);;
}
.new_cases{
	font-family: sans-serif;
	font-size: 40px;
	text-align: center;
}
#new_cases_description{
	font-size: 25px;
	text-align: center;
}
.mytable{
	margin: 30px 150px;
	border-collapse: collapse;
	font-size: 25px;
}
.table_scroll{
	height: 600px;
	overflow-y: auto;
}
.table_head{
	text-align: left;
	color: white;
	background: linear-gradient( 109.6deg, rgba(0, 0, 0, 1) 11.2%, rgba(11, 132, 145, 1) 91.1%);
}
th{
	padding: 12px;
}
td{
	padding: 12px;
	border-bottom: 1px solid black;
	text-align: center;
}
.state{
	text-align: left;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}
footer{
	text-align: center;
	padding: 20px;
	font-family: cursive;
	font-size: 24px;
}
#me:link{
	text-decoration: none;
}
#me:visited{
	color: black;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient( 109.6deg, rgba(0, 0, 0, 1) 11.2%, rgba(11, 132, 145, 1) 91.1%);
  border-radius: 10px;
}

@media(max-width: 1294px){
	.btn{
		display: inline-block;
	}
	#br{
		display: block;
	}
}
@media(max-width: 1145px){
	.mytable{
		margin: 30px 50px;
		font-size: 22px;
	}
	th,td{
		padding: 10px;
	}
}
@media(max-width: 992px){
	.grid-container-1{
		margin: 20px 50px;
		padding: 15px;
	}
	#total_p{
		font-size: 20px;
	}
	#total_counter_india,#total_counter_world{
		font-size: 30px;
	}
	.btn{
		font-size: 15px;
	}
	.grid-container-2{
		margin: 20px 10px;
		grid-column-gap: 5px;
	}
	.new_cases{
		font-size: 30px;
	}
	#new_cases_description{
		font-size: 20px;
	}
}
@media(max-width: 840px){
	.mytable{
		margin: 10px 10px;
	}
}
@media(max-width: 768px){
	.mytable{
		font-size: 18px;
		margin: 10px 5px;
	}
	th,td{
		padding: 2px;
	}
	.grid-container-2{
		margin: 20px 5px;
		grid-column-gap: 2.5px;
	}
	.new_cases{
		font-size: 25px;
	}
	#new_cases_description{
		font-size: 15px;
	}
}
@media(max-width: 600px){
	.navbar{
		font-size: 20px;
	}
	.grid-container-1{
		grid-template-columns: auto;
	}
	#total_p{
		font-size: 15px;
	}
	.grid-container-2{
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-row-gap: 2.5px;
	}
}
