@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
	height: 100%;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: Poppins, sans-serif
}

.wrapper.jsx-2601726244 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-2601726244 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-2601726244 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #1f4333, #1f4333 50%, #1f4333 100%);
	border-radius: 7px;
}

.filler.jsx-2601726244 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #3fb984;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-2601726244 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.wrapper.jsx-1341552595 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-1341552595 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-1341552595 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #592222, #411414 50%, #200505 100%);
	border-radius: 7px;
}

.filler.jsx-1341552595 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #18B0A0;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-1341552595 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.wrapper.jsx-2301191274 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-2301191274 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-2301191274 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #584818, #584818 50%, #584818 100%);
	border-radius: 7px;
}

.filler.jsx-2301191274 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #ffca28;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-2301191274 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.wrapper.jsx-2318397809 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-2318397809 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-2318397809 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #14629c, #14629c 50%, #14629c 100%);
	border-radius: 7px;
}

.filler.jsx-2318397809 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #1572b7;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-2318397809 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.wrapper.jsx-2448036133 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-2448036133 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-2448036133 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #be4020, #be4020 50%, #be4020 100%);
	border-radius: 7px;
}

.filler.jsx-2448036133 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #e44d26;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-2448036133 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.wrapper.jsx-3963280954 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-3963280954 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-3963280954 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #954b6f, #954b6f 50%, #954b6f 100%);
	border-radius: 7px;
}

.filler.jsx-3963280954 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #cc6699;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-3963280954 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.wrapper.jsx-2473749151 {
	margin-top: -4px;
	padding-bottom: 9px;
}

.title.jsx-2473749151 {
	color: #b5babd;
	font-size: 14px;
}

.pbcontainer.jsx-2473749151 {
	height: 23px;
	width: 100%;
	background: linear-gradient( to right, #2f3f2a, #2f3f2a 50%, #2f3f2a 100%);
	border-radius: 7px;
}

.filler.jsx-2473749151 {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	height: 100%;
	width: 1%;
	background: #75ac64;
	border-radius: inherit;
	text-align: right;
}

.label.jsx-2473749151 {
	padding-right: 5px;
	font-size: 13px;
	color: white;
	font-weight: 500;
}

.bg-gray-normal {
	background-color: #55595a
}

.text-gray-normal {
	color: #55595a
}

.border-gray-normal {
	border-color: #55595a
}

.bg-gray-bright {
	background-color: #83898b
}

.text-gray-bright {
	color: #83898b
}

.border-gray-bright {
	border-color: #83898b
}

.bg-gray-light {
	background-color: #a1a5a7
}

.text-gray-light {
	color: #a1a5a7
}

.border-gray-light {
	border-color: #a1a5a7
}

.bg-gray-softlight {
	background-color: #56595a
}

.text-gray-softlight {
	color: #56595a
}

.border-gray-softlight {
	border-color: #56595a
}

.bg-blue-light {
	background-color: #94b2d6
}

.text-blue-light {
	color: #94b2d6
}

.border-blue-light {
	border-color: #94b2d6
}

.bg-gray-darklight {
	background-color: #636869
}

.text-gray-darklight {
	color: #636869
}

.border-gray-darklight {
	border-color: #636869
}

.bg-gray-tlight {
	background-color: #969d9e
}

.text-gray-tlight {
	color: #969d9e
}

.border-gray-tlight {
	border-color: #969d9e
}
