h3 {
  font-size: 4rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
}

.cards-row{
  width: 100%;
}
.card{
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  border-width: 0;
  margin: 40px 0 40px 0;
}
.card li{
  text-align: center;
}
.card-body{
  font-size: 2rem;
  font-weight: 700;
  border-width: 0;
}
.card-footer{
  border-width: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.total-cases .card-body{
  background-color: #FFF5F5;
  color: #E53E3E;
}
.total-cases .card-footer{
  background-color: #FFFFFF;
  color: #E53E3E;
}
.total-recovered .card-body{
  background-color: #F0FFF4;
  color: #38A169;
}
.total-recovered .card-footer{
  background-color: #FFFFFF;
  color: #38A169;
}
.total-deaths .card-body{
  background-color: #EDF2F7;
  color: #718096;
}
.total-deaths .card-footer{
  background-color: #FFFFFF;
  color: #718096;
}
/* new cards */

#country-search .card-body{
  font-size: 1.5rem;
}

.total-tests .card-body{
  background-color: rgb(238, 255, 254);
  color: rgb(35, 226, 226);
}
.total-tests .card-footer{
  background-color: rgb(248, 255, 255);
  color: rgb(35, 226, 226);
}
.cases-today .card-body{
  background-color: rgb(255, 239, 214);
  color: #ff912b;
}
.cases-today .card-footer{
  background-color: rgb(255, 251, 248);
  color: #ff912b;
}
.deaths-today .card-body{
  background-color: rgb(255, 237, 250);
  color: #e74bdf;
}
.deaths-today .card-footer{
  background-color: #FFFFFF;
  color: #e74bdf;
}

.live{
  text-align: left;
  padding: 0 0 0 15px;
  color: #E53E3E;
  font-weight: 600;
  margin-bottom: 0;
}
