@import"https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
    --primary-background-color: #14161c;
    --secondary-background-color: #20242d;
    --text-color: #ffffff
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Open Sans";
    transition: all 0.1s linear;
    background-color: var(--primary-background-color);
    background-image: url("https://i.ibb.co/dj0nr5j/bgRepeat.png");
    background-repeat: repeat;
    color: var(--text-color)
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a:hover {
    text-decoration: none;
    color: unset !important
}

@media only screen and (min-width: 640px) {
    .padding {
        padding-left: 25%;
        padding-right: 25%
    }

    .section {
        padding-top: 2%;
        padding-bottom: 2%
    }
}

@media only screen and (max-width: 640px) {
    .padding {
        padding-left: 3%;
        padding-right: 3%
    }

    .section {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.normalText {
    color: var(--text-color);
    font-size: 18px;
    font-weight: normal
}

.headAvatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    outline: 5px solid var(--secondary-background-color);
    outline-offset: 8px;
    transition: all 0.2s linear
}

.headAvatar:hover {
    transform: rotate(-7deg);
    transition: all 0.2s linear
}

.headName {
    font-size: 35px;
    font-weight: 500;
    text-align: center
}

.headStatus {
    font-size: 16px;
    font-weight: normal;
    text-align: center
}

.card {
    background-color: var(--secondary-background-color);
    border: none;
    outline: none;
    transition: all 0.1s linear
}

.cardOp {
    background: var(--secondary-background-color);
    border: none;
    outline: none;
    transition: all 0.1s linear
}

.cardOp:hover {
    transform: scale(1.02);
    transition: all 0.1s linear
}

.smallText {
    font-size: 15px;
    font-weight: normal;
    text-align: center
}
