* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
}

.inner {
    display: inline-block;
}

.links {
    text-align: center;
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    white-space: nowrap;
} 

ul {
    background-color: #ffffff;
}

li {
    margin-top: 15px;
    display: inline;
}

button {
    color: #343e3d;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.8em;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    background-color: transparent;
    border: transparent;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
}  

#name-intro {
    text-align: left;
    position: relative;
    top: 30%;
    left: 10%;
    font-size: 50px;
}

.hello, .more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.more {
    font-size: 30px;
}


 
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#about-me {
    margin: 150px 60px;
    height: 10vh;
    min-height: 700px;
}

.row {
    display: flex;
    justify-content: center;
    position: relative; 
}

.col-1 { 
    float: left;
}

.my-photo {
    height: 330px;
    margin: 15px;
    top: 60px;
    position: relative;
}

.col-2 {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 600px;
    max-height: 600px;
}

.introduction {
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    color: #000000;
    animation: typingEffect 3s steps(40) 1s 1 normal both,
    blinkingCursor 500ms steps(40) infinite normal;
}

.typing {
    width: 8em;
    margin: 0 auto;
    border-right: 2px solid #000000;
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50);
}

.para {
    height: 800px;
    max-width: 600px;
    position: relative;
}

.blurb {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#projects {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 200px auto;
}

#projects .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #fff;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

#projects .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    z-index: 1;
}

#projects .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#projects .box .icon .net {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

#projects .box:hover .icon .net {
    font-size: 40px;
}

#projects .box .icon .big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

#projects .box .icon .plane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.plane {
    width: 50%;
}

.big {
    width: 50%;
}

.net {
    height: 60%;
}

#projects .box .content {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

#projects .box:hover .content {
    top: 100px;
    opacity: 1;

}

#projects .box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #000;
    font-size: 24px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

#projects .box .content p {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#projects .box:nth-child(3) .icon {
    background: #E50914
}

#projects .box:nth-child(3) {
    background: #fff;
}

#projects .box:nth-child(4) .icon {
    background: #ffb6c1
}

#projects .box:nth-child(4) {
    background: #fff;
}

#projects .box:nth-child(5) .icon {
    background: #d3d3d3;
}

#projects .box:nth-child(5) {
    background: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

.more {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 13px;
}


#contact {
    height: 20vh;
    min-height: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-row-1 {
    justify-content: center;
    margin-bottom: 10px;
}

.contact-me {
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.contact-info {
    margin-top: 20px;
}

.gh, .ln, .email {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
}

@keyframes line-animations {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
        stroke-width: 0;
    }
    to {
        fill: white;
        stroke-width: 4;
    }
}

@keyframes typingEffect {
    from {
        width: 0;
    }
    to {
        width: 8em;
    }
    
}

@keyframes blinkingCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

/* mobile/tablets optimization*/
@media screen and (max-width:1024px)  { 
   #about-me, #projects, #contact {
       height: 500px;
   }

   .links {
       height: 100px;
   }

   .col-2, .proj {
       min-width: 400px;
   }
   
}








