@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap";


/*

Red Rose

*/

:root {
    --primary-background-color: #f9f9f9;
    --secondary-background-color: #f0f0f0;
    --tertiary-background-color: #f1f1f1;
    --fff-background-color: #dddddd;
    --text-color: #000;
    --image-invert: 100%;
    color-scheme: light
}

.dark-theme {
    --primary-background-color: #0d0d0d;
    --secondary-background-color: #141414;
    --tertiary-background-color: #101010;
    --fff-background-color: #2a2a2a;
    --text-color: #fff;
    --image-invert: 0%;
    color-scheme: dark
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear
}

button:focus {
    outline: none
}

html {
    scroll-behavior: smooth;
    transition: all 0.1s linear
}

body {
    font-family: "Inter";
    transition: all 0.1s linear;
    background-color: var(--primary-background-color);
    background-image:
        radial-gradient(circle, var(--tertiary-background-color) 1px, transparent 1px),
        radial-gradient(circle, var(--tertiary-background-color) 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    line-height: 1.7
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a:hover {
    text-decoration: none;
    color: unset !important
}

.naturalLink:hover {
    text-decoration: underline
}

@media only screen and (min-width: 640px) {
    #head {
        padding-top: 5em
    }

    .section {
        padding-top: 5em;
        padding-bottom: 5em
    }

    #nameText {
        float: center;
        text-align: center
    }

    .blackText {
        font-size: 40px;
        float: center;
        text-align: center
    }

    #centeredButton {
        text-align: center
    }

    .footerLeft {
        float: left
    }

    .footerRight {
        float: right;
    }

    #mobileBr {
        display: none;
    }

    .footerRightText {
        margin-top:-25px
    }
}

@media only screen and (max-width: 640px) {
    #head {
        padding-top: 4em
    }

    .section {
        padding-top: 4em;
        padding-bottom: 4em
    }

    .blackText {
        font-size: 40px;
        float: center;
        text-align: center
    }

    #nameText {
        float: center;
        text-align: center
    }

    .footer {
        text-align: center;
        float: center
    }

    #centeredButton {
        text-align: center
    }
}

.tippy-box[data-theme~=ws] {
    color: var(--text-color);
    background: transparent;
    border: 1px solid var(--fff-background-color)
}

.blackText {
    color: var(--text-color);
    font-weight: 600;
    line-height: 1.3em;
}

.boldText {
    color: var(--text-color);
    font-size: 20px;
    font-weight: normal
}

.normalText {
    color: var(--text-color);
    font-size: 15px;
    font-weight: normal
}

.coloredText {
    font-family: "Playwrite HU", sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100vh
}

#goTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transform: scale(1);
    width: 45px;
    height: 45px;
    color: var(--text-color);
    background: transparent;
    border: 1px solid var(--fff-background-color)
}

#goTop:hover {
    background: var(--tertiary-background-color)
}

.navGrid {
    display: grid;
    grid-template-columns: auto auto
}

.navGridItemRight {
    justify-self: end
}

#navbarImage {
    filter: invert(var(--image-invert))
}

.navbarButton {
    width: 45px;
    height: 45px;
    background: transparent;
    border: 1px solid var(--fff-background-color)
}

.navbarButton:hover {
    background: var(--tertiary-background-color)
}

.bigButton {
    background: transparent;
    border: 1px solid var(--fff-background-color);
    padding: 10px
}

.bigButton:hover {
    background: var(--tertiary-background-color);
    color: var(--text-color) !important
}

.card {
    background: transparent; /*var(--secondary-background-color)*/
    border: 1px solid var(--fff-background-color)
}

.card:hover {
    background: var(--tertiary-background-color);
    color: var(--text-color) !important
}

.githubCard {
    cursor: pointer
}

.textCard {
    background: transparent;
    border: 1px solid var(--fff-background-color);
    padding: 10px
}

#headAvatarContainer {
    width: 160px;
    height: 160px;
    text-align: center;
    align-items: center;
    justify-content: center
}

#headAvatar {
    width: 230px;
    height: 230px;
    object-fit: cover
}

.svgInvert {
    fill: var(--text-color)
}

.leftFloat,
#left {
    float: left;
    text-align: left
}

.rightFloat,
#right {
    float: right;
    text-align: right
}

/*.bigButton,
.card,
button,
.textCard {
    box-shadow: var(--theme-box-shadow)
}*/

.rounded-custom {
    border-radius: 13px;
}

.grayScale {
    filter: grayscale(100%);
    transition: all 0.1s linear
}

.grayScale:hover {
    filter: grayscale(0%);
    transition: all 0.1s linear
}

.cardImage {
    width: 60px;
    height: 60px;
    object-fit: cover
}

#head {
    height: 85vh;
}

.aboutImg {
    width: 100%;
    height: 225px;
}

.cardNoHover {
    background: var(--secondary-background-color) !important
}

.countryText {
  position: relative
}

.countryText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #e63946;
  border-radius: 2px
}